/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav {
    justify-content: space-between;
    padding-top: 8px;
  }
  nav > div {
    display: none;
  }

  .menu {
    display: flex;
  }
  .hero {
    padding: 0 16px;
    background-size: 307px 333px;
    height: fit-content;
  }

  .hero .content {
    flex-direction: column-reverse;
    /* margin-top: 305px; */
    padding-top: 0px;
  }

  .hero .content > div {
    align-items: center;
    padding: 48px 0;
  }

  .hero .content h1 {
    font-size: 40px;
    text-align: center;
  }
  .hero .content p {
    font-size: 18px;
    text-align: center;
  }
  .hero .content button {
    font-size: 20px;
    font-weight: 500;
    width: 243px;
  }

  .hero .testimonial {
    margin-top: 64px;
  }

  .hero .testimonial span {
    color: #0f172a;
    font-size: 16px;
    font-weight: 400;
  }
  .hero .content > div:nth-child(2) {
    width: 100%;
    height: 277px;
    /* border:2px solid red */
  }
  .hero .content > div:nth-child(2) img:nth-child(1) {
    position: absolute;
    left: 64px;
    top: 10px;
    width: 60px;
  }
  .hero .content > div:nth-child(2) img:nth-child(2) {
    right: 0px;
    top: 58px;
    aspect-ratio: 1;
    width: 35px;
  }
  .hero .content > div:nth-child(2) img:nth-child(3) {
    position: absolute;
    width: 11px;
    top: -22px;
    right: 47px;
  }
  .hero .content > div:nth-child(2) img:nth-child(4) {
    position: absolute;
    bottom: 0;
    right: 108px;
    width: 115.5px;
    height: 68px;
    z-index: 2;
  }
  .hero .content > div:nth-child(2) img:nth-child(5) {
    width: 20px;
    bottom: 27px;
  }
  /* end of hero section */
  .pick {
    height: 576px;
    padding: 0 20px;
  }
  .pick .shapes {
    display: none;
  }
  .pick > div > p {
    font-size: 16px;
  }
  .pick > div > h1 {
    font-size: 32px;
  }
  .pick > img {
    height: 246px;
    width: 358px;
  }
  .services {
    padding: 48px 20px;
    /* background: red; */
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 1413px;
    background-position: bottom left;
    background-size: 423px;
  }

  .services .content > p {
    font-size: 16px;
    text-align: center;
  }
  .services .content h1 {
    font-size: 32px;
    text-align: center;
  }

  .services .content h4 {
    text-align: center;
  }

  .services .grid div {
    width: 156px;
    height: 250px;
  }

  .services .grid {
    place-items: center;
    grid-template-rows: 1fr 1fr;
    gap: 48px;
  }
  .services > img {
    height: 471px;
    align-self: center;
    object-fit: contain;
  }

  .features {
    padding: 48px 20px;
    /* background: red; */
    flex-direction: column;
    justify-content: space-between;
    height: 1413px;
    background-position: bottom right;
    background-size: 423px;
  }

  .features .content > p {
    font-size: 16px;
    text-align: center;
  }
  .features .content h1 {
    font-size: 32px;
    text-align: center;
  }

  .features .content h4 {
    text-align: center;
  }

  .features .grid div {
    width: 156px;
    height: 250px;
  }

  .features .grid {
    place-items: center;
    grid-template-rows: 1fr 1fr;
    gap: 48px;
  }
  .features > img {
    height: 471px;
    align-self: center;
    object-fit: contain;
  }
  .awesome {
    /* height: 916px; */

    padding: 48px 20px;
  }
  .awesome > div {
    flex-direction: column;
    align-items: center;
  }

  .awesome > div > div h4 {
    font-size: 16px;
    text-align: center;
  }

  .awesome > div > div h1 {
    font-size: 32px;
    text-align: center;
    max-width: 361px;
    margin: 0 auto;
  }
  .awesome > div > div > p {
    text-align: center;
    font-size: 16px;
  }
  .awesome > div > button {
    width: 243px;
    font-size: 20px;
  }
  #cards-group {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 361px;
  }

  .awesome .card {
    height: 356px;
    justify-content: center;
    margin: 0 auto;
  }

  #slide-btn {
    /* background: #000; */

    flex-direction: row;
    justify-content: center;
    width: 160px;
    /* border-bottom: 2px dashed green; */
  }
  .systems {
    height: 614px;
    padding: 48px 20px;
  }

  .systems > div {
    flex-direction: column;
    height: 300px;
  }
  .systems img {
    height: 300px;
  }

  .systems .content div h1 {
    font-size: 32px;
    text-align: center;
  }
  .systems .content div p {
    font-size: 16px;
    text-align: center;
  }
  .systems .content  a {
    display: none;
  }

  .available {
    height: 606px;
    padding: 48px 20px;
  }
  .available > div {
    flex-direction: column;
    align-items: center;
  }
  .available > div > div h4 {
    text-align: center;
    font-size: 16px;
  }
  .available > div > div h1 {
    text-align: center;
    font-size: 32px;
  }
  .available > div > div > button {
    width:243px;
    font-size: 20px;
  }
  .available > div > div > span {
    color:white;padding: 0;
    text-align: center;
  }
  .available > img {
    height: 196px;
    width: 358px;
    margin: 0 auto;
  }
  footer {
    max-width: 1400px;
    margin: 0 auto;
    height: 196px;
    padding: 24px 0px;
  }
  footer > div {
    max-width: 361px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 94px;
    align-items: center;
  }
  footer > div > div {
    flex-direction: column;
    height: 100%;

  }
  footer > div > ul {
    margin-top: 24px;
  }
}
